:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --mid-grey: #757575;
    --off-white: #faf8f7;
    --just-white: #fff;
}

header {
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    height: 353px;
    left: 0;
    min-width: 320px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

header > img {
    align-self: center;
    height: 24px;
    margin-top: 60px;
    width: 150px;
}

.header--text-container {
    align-self: center;
    margin-top: 40px;
    max-width: 900px;
    min-width: 288px;
    width: 90%;
}

.header--text-container > h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header--text-container > p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 20px;
}

.header--button {
    align-items: center;
    background: var(--off-white);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    color: var(--warm-black);
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    left: 0;
    line-height: 1.8rem;
    height: 48px;
    margin: 0 auto;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    top: 70px;
    width: 229px;
}

.header--button > img {
    margin-left: 1rem;
}

main {
    background-color: var(--off-white);
    height: auto;
    min-width: 320px;
    width: 100%;
}

.ex-rate {
    height: auto;
    min-width: 320px;
    width: 100%;    
    padding-top: 80px;
    padding-bottom: 30px;
}

.backgnd {
    background-image: url('../assets/img/bitcoin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 0 auto 50px auto;
    width: 200px;

}

.ex-rate_text-container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    min-width: 288px;
}

.ex-rate_text-container h2 {
    color: var(--warm-black);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 4rem;
    text-align: center;
}

.ex-rate_text-container p {
    color: var(--mid-grey);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
}

.tables-wrapper {
    display: grid;
    grid-template-columns: 20px calc(1fr - 20px) 20px;
    grid-template-rows: 1fr;
    grid-template-areas: 'btn-left tables btn-right';
    margin: 0 auto;
    width: 300px;

}

.tables-wrapper .btn {
    align-self: center;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;    
    height: 10px;
    position: static;
    width: 10px;

}

.tables-wrapper .btn-left {
    background-image: url('../assets/icons/right-arrow.svg');
    grid-area: btn-left;
    justify-self: right;
    transform: rotate(180deg);
}

.tables-wrapper .btn-right {
    background-image: url('../assets/icons/right-arrow.svg');
    grid-area: btn-right;
    justify-self: left;
}

.ex-rate_table-container {
    display: flex;
    flex-direction: row;
    grid-area: tables;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    max-width: 900px;
    min-width: 230px;
    scroll-behavior: smooth;
    width: 230px;
}

.table-cont > h2 {
    background-color: var(--off-white);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 1.1rem;
}

.coin-table-cont > h2 {
    color: var(--bitcoin-orange);
}

.comm-table-cont > h2 {
    color: var(--secondary-blue);
}

.table {
    background-color: var(--off-white);
    color: #B5B0AC;
    gap: 1px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: -0.02em;
    min-width: 230px;
    width: 230px;
}

.table tr td {
    background-color: var(--just-white);
    padding: 8px;
}

.table_downleft {
    border-radius: 0 0 0 10px;
}

.table_upleft {
    border-radius: 10px 0 0 0;
}

.table_upright {
    border-radius: 0 10px 0 0;
}

.table_downright {
    border-radius: 0 0 10px 0;
}

.table td:first-child {
    width: 50%;
    padding-left: 2rem;
}

.table td:last-child {
    text-align: center;
}

.table td:last-child span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
}

.coins-table .coins-table_down {
    background-image: url('../assets/icons/trending-down.svg');
}

.coins-table .coins-table_up {
    background-image: url('../assets/icons/trending-up.svg');
}

.table_footer {
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.9px;
    margin: 10px auto;
    padding: 14px 8px;
    text-align: center;
    width: 90%;
}

.coin-table-cont .table_footer {
    background-color: var(--soft-orange);
}

.comm-table-cont .table_footer {
    background-color: var(--soft-blue);
}

.aux {
    height: 320px;
    width: 100%
}